<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <h2 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.4rem;">ABOUT US</h2>
    <div class="card-body">
      <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"><strong style="font-size: 1.8rem
">K</strong>avinSys Informatics is an innovative and visionary IT company focusing on client needs with innovative KavinSys touch. Collective Information systems experience of more than 100 years makes KavinSys a unique player in the IT industry who can perform the art of system implementation with unique colors.Since our consultants work with large number of vertical industries, we understand and speak the same language of business. We understand your problem before we come to you. We truly enjoy and love what we do. Either "Time and Material" or "Fixed Bid" our quality is never compromised.Since we travelled through so many system implementation routes, we are sure to caution you about the flow and delay of your selection. We will work with you to achieve your goals on time and on budget.</p>
  <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys is also a product company who specializes on cloud products including benefit administration, cloud based migration and database analytics tools. We do have tools to help the clients to migrate from existing software applications to modern cloud based application. Using our pre-configured tools, we can save millions of dollars for the clients and give them peace of mind during the migration. All they need to do is to train their employees in new system.</p>
  <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys provides offshore proposition to the clients to cut their cost without compromising quality. Well experienced US educated professionals in our offshore PMO office will help you to achieve your goals in a very cost effective way. Our on-site and offshore centres support your needs 24/7 throughout the year.</p>
    </div>
</div>
</div>

