<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="../assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">Soltura-Analytics</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"> <strong style="font-family: 'PT Serif', serif;">Data Analytics</strong></p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys Informatics is specialized in analytics across multiple areas of a commercial establishments including accounting, finance, material management, supply chain, human resources, time management, payroll and sales planning.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Irrespective of the system of records, the analytics subsystem is setup to process data either online or offline to dig more useful information to support clients business needs.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">The source data will be processed with in-memory database using KavinSys's copyrighted analytics tools to generate very valuable information for any corporation which is looking to increase productivity, cut cost and improve sales and distribution.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys Informatics provides extensive consulting support to clients to setup analytics engine to produce valuable report for the senior management.</p>
        </div>
      </div>
    </div>
  </div>
</div>

