<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="../kavin-sys/src/assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">Professional Services</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"> <strong style="font-family: 'PT Serif', serif;">System Migration (Previous System Transition)</strong></p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Technology evolution always triggers the development of new products and methodologies. As a result of this, the concept of Cloud computing provides better, sophisticated and easy to use systems with great affordability to the clients. More and more users are switching from conventional data center and software ownership to easily accountable SaaS systems.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys Informatics is a major player in this area to educate and elevate clients to attain their goal of improving the efficiency of the company and achieving their financial goal.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys Informatics helps clients to evaluate their current system and suggest most effective solution to reach their goal, by getting involved in strategic planning of new cloud based solution, adoption, implementation and support.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys specializes in training employees in new cloud based system as part of the migration and conversion of valuable legacy data into cloud space.</p>

        </div>
      </div>
    </div>
  </div>
</div>

