<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="./src/assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">Memory Database - HANA</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Vivara Informatics is a pioneer in analytics using HANA in-memory database.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">We have gained extensive knowledge in HANA database modelling to generate fast, efficient and meaningful reporting to support client's decision making process.
          </p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Vivara has 10 man years of experience in building dashboards for the senior management.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Vivara's team can help you design your HANA solution infrastructure either in-house or as a SaaS (software as a service). The HANA system can be built for your organization in as little as one month.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Vivara's prefabricated analytics tools will help the client to fast track their implementation.</p>

        </div>
      </div>
    </div>
  </div>
</div>

