<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="../assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">Soltura - Benefits</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"> <strong style="font-family: 'PT Serif', serif;">Employee Benefit Enrolment System</strong></p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Employee Benefit Enrolment system is a web based application to facilitate employers and employees to make the Benefit enrolment simple and easy.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"><strong style="font-family: 'PT Serif', serif;">Easy to Setup:</strong>Existing SAP Benefit configuration is transferred and uploaded along with the employee master data to the web application using the copyright programs from SAP. Immediately an employee can login to the web application to perform Benefit Enrolment.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"><strong style="font-family: 'PT Serif', serif;">Easy to Use:</strong>The web application is designed in such a away , anyone who login into the system can perform benefits enrolment with no assistance. The screen flow and the functionality is designed based on human psychology of application navigation.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"><strong style="font-family: 'PT Serif', serif;">No Repetitive Configuration: </strong>Redundant work of configuring web application with the Benefits eligibility rule and regulation is completely avoided by utilizing the already defined and configured rules in SAP. The SAP configuration tables are extracted and uploaded to the web. The logic built within the web application will apply the rule exactly the same way SAP does.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"><strong style="font-family: 'PT Serif', serif;">Workflow:</strong>The web based work flow allows the employee (user) to interact with the Benefit Administrator for any queries.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"><strong style="font-family: 'PT Serif', serif;">Work in Progress Statistics: </strong>From the time the first employee login and perform their benefit enrolment till the end of Open enrolment process completion, the Benefit Administrator is assisted with lots of statistical reports and the status of the Open enrolment process like, total # of employees enrolled for different benefit plans, work in progress etc.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"><strong style="font-family: 'PT Serif', serif;">Easy&nbsp;Reference&nbsp;Material uploads: </strong>Employee can be assisted by attaching Benefit Enrolment manual, benefit plans, investment information, company policy, Government rules around benefit plans to any screen in the web application for reference. Help material to help employee to navigate within the application can also be attached to any screen with an icon to view them.</p>
        </div>
        </div>
    </div>
  </div>
</div>

