<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="../assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">Soltura-ETL</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"> <strong style="font-family: 'PT Serif', serif;">ERP Cloud Migration Tools</strong></p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Cloud migration is the process of moving data, applications or other business elements from an organization's own managed systems to the cloud, or moving them from one cloud environment to another.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys has an extensive knowledge in data migration having worked across three revolutionary ages of Information Technology including migration from Mainframe to Client-server, Client-server to web application and finally ERP to Cloud Computing and Mobile applications.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">We now the need of the client even before they select their product they are migrating to. We have developed 10 man years of tools to support ERP to Cloud migration which will be deployed in action with in 24 hours of implementation phase.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">The tools are developed as a simple database objects linked effectively to support ETL layer with a definite objective. These objects are easy to assemble as per the requirements of the clients.</p>
        </div>
      </div>
    </div>
  </div>
</div>

