<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="./src/assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">
          HR CLOUD</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys Informatics has a long track record of implementing and maintaining ERP solutions. Now it is committed to deliver the same level of professionalism in Cloud based solutions like SAP/SucessFactor and Workday.
          </p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">The expert consultants who worked in SAP were cross trained in respective modules to support design, development, deployment and production support. Vivara's expert team will carefully evaluate the existing system and work closely with the client to prepare a perfect roadmap and execute tasks as per the plans to achieve the target.
          </p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys has developed its own ETL tools to support data migration from any legacy system data models to Workday and SAP/SuccessFactor data structure. Vivara's implementation team will make sure the clients are furnished with best business practices and well controlled business processes to run their business more effectively than before.</p>
        </div>
      </div>
    </div>
  </div>
</div>


