<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="./src/assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">
          ERP-SAP-ORACLE</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys Informatics specializes in cost effective implementation of ERP solutions including SAP and Oracle Financials. Vivara provides infrastructure for the ERP solution including System Landscape design, development, project management, resource planning , requirements analysis and implementation.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys Onsite and Offshore development model can provide a cost effective solution to the ERP implementation including SAP and Oracle financials. Vivara has one of the strongest consulting foundations based on its talented consulting resources who have excelled from their multi-client experience. The average consulting experience of the company is 10 to 12 years with at least 8 different client experiences.</p>
        </div>
      </div>
    </div>
  </div>
</div>

