<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
  <img src="../assets/logo.jpg" class="navbar-brand" height="50px" width="100px"/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button mat-button style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="/">HOME</button>
      </li>
      <li class="nav-item">
        <button mat-button style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="about">ABOUT US</button>
      </li>
      <li class="nav-item">
        <button mat-button style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" [matMenuTriggerFor]="prod">PRODUCTS</button>
        <mat-menu #prod="matMenu">
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="products/employee-benefits">Employee Benefit Enrollment System</button>
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="products/erp-migration">ERP Cloud Migration Tools</button>
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="products/data-analytics">Data Analytics</button>
        </mat-menu>
      </li>
      <li>
        <button mat-button style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" [matMenuTriggerFor]="serv">SERVICES</button>
        <mat-menu #serv="matMenu">
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" [matMenuTriggerFor]="ps">Professional Services</button>
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" [matMenuTriggerFor]="imp">Implementation</button>
        </mat-menu>
        <mat-menu #ps="matMenu">
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="services/pro-services/managing-consulting">Managing Consulting</button>
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="services/pro-services/net-infra-consulting" >Network Infrastructure Consulting</button>
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="services/pro-services/system-migration">System Migration</button>
        </mat-menu>
        <mat-menu #imp="matMenu">
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="services/implementation/eso" >ERP-SAP-Oracle</button>
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="services/implementation/hr-cloud">HR Cloud</button>
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="services/implementation/memory-dbhana">Memory Database HANA</button>
          <button mat-menu-item style="font-size: 1.2rem; font-family: 'Lato', sans-serif;" routerLink="services/implementation/proj-management">Project Management</button>
        </mat-menu>
      </li>
      <li class="nav-item">
        <button mat-button style="font-size: 1.2rem; font-family: 'Lato', sans-serif;">WHY KAVINSYS?</button>
      </li>
      <li class="nav-item">
        <button mat-button style="font-size: 1.2rem; font-family: 'Lato', sans-serif;">CAREERS</button>
      </li>
      <li class="nav-item">
        <button mat-button style="font-size: 1.2rem; font-family: 'Lato', sans-serif;">CONTACT</button>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<router-outlet></router-outlet>
