<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="./src/assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">Professional Services</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"> <strong style="font-family: 'PT Serif', serif;">Network Infrastructure Consulting</strong></p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">As we are aware that today’s business environment creates unique challenges for Information Technology. Vivara Informatics provides expert consulting, analysis and implementation for critical technology infrastructure. Our network consulting service is very comprehensive. We begin with inventory of your current network, analyse your needs and your objectives. After thorough analysis we provide our plan of action.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">We design a plan that reflects your objectives and then provide recommendations that work best for you. Our network experts take the time to understand the complexities of your business requirements and how every element of the network will need to operate providing high availability and reliability while remaining flexible. We consult with you to determine the network system that will help your business achieve its objectives and to make the most of your IT investment.</p>
        </div>
      </div>
    </div>
  </div>
</div>

