<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="./src/assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">Project Management</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Vivara Informatics can engage itself in different stages of project management processes including planning, organizing, motivating, and controlling resources, procedures and protocols to achieve specific goals in the implementation of ERP or Cloud based solutions.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Vivara has developed custom tools to estimate the project cost and duration based on well defined work breakdown structures.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Vivara can deliver same quality of project management onsite as well as offshore, when the development is performed offshore.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">Vivara has a long track record in delivering quality products. The long track record also includes delivering perfect documentation with complete traceability of requirements to delivered products. Either it is a small testing project or a full ERP implementation, Vivara delivers it with the same high quality.</p>
        </div>
      </div>
    </div>
  </div>
</div>

