<div class="container">
  &nbsp;
  &nbsp;
  <div class="jumbotron card bg-white">
    <div class="row">
      <div class="col-md-3">
        <img src="./src/assets/product.png">
      </div>
      <div class="col-md-9">
        <h1 style="text-align: center; font-family: 'Bellota', cursive; font-size: 1.8rem;">Professional Services</h1>
        <div class="card-body">
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;"> <strong style="font-family: 'PT Serif', serif;">Management Consulting</strong></p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys management consulting services help you achieve more with less by strategically aligning your organization’s mission and objectives. With a rich experience in management consulting, we work with you to support your transformation agenda and build processes that are in line with your organization’s goals. The services we provide can help you address the seemingly contradictory objectives like reducing spending while improving services and updating technology or reduce cost while mitigating risks.</p>
          <p style="font-family: 'Cormorant Garamond', serif; font-size: 1.4rem; text-align: justify;">KavinSys has significant experience in working with customers from a broad range of sectors, from public to private. We operate on delivering innovation, business improvement and service excellence.</p>
         </div>
      </div>
    </div>
  </div>
</div>

